<center><h1>Bookmarks</h1>
<form action="/bookmark" method="get">
<input type="submit" value="View Bookmarks"></form>
<br>
<form action="/bookmark/add" method="post">
  <input type="text" name= url>
  <input type="submit" value="Add Bookmark">
</form></center>